<div class="chats-page">
  <div class="user-info-container">
    <p>Identificador:</p>
    <p class="user-info-name">{{ userData().fullName }}</p>
    <p class="">
      Copia tu Id para compartirlo con otras personas para comunicarte con ellas
      por chat
    </p>
    <button
      (click)="onClickCopyId()"
      [cdkCopyToClipboard]="userData().id"
      class="share-id-button"
    >
      Copiar Id
    </button>
  </div>

  <div class="new-chat-container">
    <button class="new-chat-button" (click)="toggleShowNewChatModal()">
      Nuevo chat
    </button>
  </div>
  @if (chats() && chats().length > 0) {
    <div class="chats">
      @for (chat of chats(); track chat) {
        <div class="chat">
          <div class="chat-header">
            <img
              class="chat-image"
              src="https://i.pinimg.com/736x/62/3e/c7/623ec7d4bca8e551d3bc6f681180c1ee.jpg"
              alt="chat-room-image"
            />
            <p class="chat-name">
              {{ chat.name }}
            </p>
          </div>
          <div class="chat-body">
            @if (chat.participants && chat.participants.length > 1) {
              <div class="chat-participants">
                <p>Participantes</p>
                @for (participant of chat.participants; track participant) {
                  @if (participant.id !== userData().id) {
                    <div class="chat-participant">
                      {{ participant.fullName }}
                    </div>
                  }
                }
              </div>
            }
            <div class="chat-actions">
              <button
                (click)="onClickEnterChat(chat.id)"
                class="chat-enter-button"
              >
                Entrar al chat
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <p class="no-chats-message">No hay chats</p>
  }

  @if (showNewChatModal()) {
    <app-new-chat-modal
      (closeModalEvent)="onChatCreated()"
    ></app-new-chat-modal>
  }
</div>
