<div class="chats-page">
  <div class="user-info-container">
    <p>Identificador:</p>
    <p class="user-info-name">{{ userData.fullName }}</p>
    <p class="">
      Copia tu Id para compartirlo con otras personas para comunicarte con ellas
      por chat
    </p>
    <button
      (click)="onClickCopyId()"
      [cdkCopyToClipboard]="userData.id"
      class="share-id-button"
    >
      Copiar Id
    </button>
  </div>

  <div class="new-chat-container">
    <button class="new-chat-button" (click)="toggleShowNewChatModal()">
      Nuevo chat
    </button>
  </div>
  <ng-container *ngIf="chats && chats.length > 0; else noChats">
    <div class="chats">
      <div class="chat" *ngFor="let chat of chats">
        <div class="chat-header">
          <img
            class="chat-image"
            src="https://i.pinimg.com/736x/62/3e/c7/623ec7d4bca8e551d3bc6f681180c1ee.jpg"
            alt="chat-room-image"
          />
          <p class="chat-name">
            {{ chat.name }}
          </p>
        </div>
        <div class="chat-body">
          <div
            class="chat-participants"
            *ngIf="chat.users && chat.users.length > 1"
          >
            <p>Participantes</p>
            <ng-container *ngFor="let participant of chat.users">
              <div
                class="chat-participant"
                *ngIf="participant.id !== userData.id"
              >
                {{ participant.fullName }}
              </div>
            </ng-container>
          </div>
          <div class="chat-actions">
            <button
              (click)="onClickEnterChat(chat.chatId)"
              class="chat-enter-button"
            >
              Entrar al chat
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noChats>
    <p class="no-chats-message">No hay chats</p>
  </ng-template>

  <app-new-chat-modal
    (closeModalEvent)="onChatCreated()"
    *ngIf="showNewChatModal"
  ></app-new-chat-modal>
</div>
