<div class="chat-container">
  <div>
    <!-- nombre de amigo del chat -->
    <div>
      <img src="" alt="">
      <p>Rafael Estrada</p>
      <p>Info extra</p>
    </div>
    <!-- Chat -->
    <ul class="general-chat">
      <li role="listitem">Mensajes enviados 1</li>
      <li role="listitem">Mensajes enviados 2</li>
      <li role="listitem">Mensajes enviados 3</li>
    </ul>
    <!-- MensajesFrecuentes -->
    <ul>
      <li role="listitem">Item 1</li>
      <li role="listitem">Item 2</li>
      <li role="listitem">Item 3</li>
    </ul>
    <!-- Enviar -->
    <div class="">
      <button>Enviar mensaje</button>
    </div>
  </div>
</div>
