.chat-container {
  background: #222;
  width: 100%;
  height: 100dvh;
  overflow: auto;
  padding: 24px 16px;
  box-sizing: border-box;
}

.chat {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;

  background-color: #000;
  color: black;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  // Media queries tipo Bootstrap
  @media (min-width: 768px) {
    max-width: 720px;
    margin: auto;
  }

  @media (min-width: 992px) {
    max-width: 960px;
    margin: auto;
  }
}

.chat-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: #000;
  color: white;
  padding: 9px;
}

.chat-header-user {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 18px;
}

.chat-header-close {
  cursor: pointer;
  background: #222;
  color: #fff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header-image {
  width: 3.25em;
  height: 3.25em;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.chat-header-name-container {
  flex-grow: 1;
  margin: 0 20px;
}

.chat-messages-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;

  flex-direction: column-reverse;
}

.chat-messages {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 0.5em;
  box-sizing: border-box;
}

.chat-message {
  margin-bottom: 0.25em;
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
}

.chat-message-mine-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

.chat-message-mine {
  background: rgb(28, 105, 219);
  color: white;
  border-radius: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
  max-width: 75%;
  height: auto;
}

.chat-message-friend-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.chat-message-friend {
  background: rgb(149, 28, 219);
  color: white;
  border-radius: 0.5em 0.5em 0.5em 0;
  padding: 0.5em;
  max-width: 75%;
  height: auto;
}

// Chat Bottom

.chat-bottom {
  padding: 1em;
  background-color: black;
}

.chat-current-messages {
  background: rgb(170, 170, 170);
  padding: 0.25em 0.5em;
  max-height: 30vh;
  overflow: auto;
}

.chat-current-message {
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  padding: 0.5em;
}

.chat-current-message-selected {
  background: rgb(197, 28, 28);
  color: white;
}

.chat-message-form {
  background-color: #222;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.message-text-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: inherit;
  box-sizing: border-box;
}

.message-text {
  width: 100%;
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  margin: 0 10px;
}

.button-send {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-quick {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 187, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroom-name {
  font-size: 1.25em;
  font-weight: bold;
  color: whitesmoke;
}
