<div class="void-container">
  <div class="noise-overlay"></div>
  <div class="scanlines"></div>

  <div class="cryptic-card registration-mode">
    <div class="card-header">
      <p class="terminal-title">
        NUEVO_REGISTRO<span class="cursor-blink">_</span>
      </p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="void-form">
      <div class="input-group">
        <label for="fullName">:: DESIGNACIÓN_HUMANA ::</label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          formControlName="fullName"
          placeholder="Identidad..."
          autocomplete="off"
        />
        <div class="status-light"></div>
      </div>

      <div class="input-group">
        <label for="email">:: VECTOR_DE_CONTACTO ::</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="user@void.net"
          autocomplete="off"
        />
        <div class="status-light"></div>
      </div>

      <div class="input-group">
        <label for="password">:: SECUENCIA_DE_SEGURIDAD ::</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="******"
        />
        <div class="status-light"></div>
      </div>

      <div class="actions">
        <input type="submit" value="REGISTRAR" class="btn-submit" />

        <p class="redirect-text">
          <a routerLink="../login" class="glitch-link" data-text="MIEMBRO?">
            &lt; MIEMBRO? /&gt; INICIAR_SESIÓN
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
