<div class="void-container">
  <div class="scanlines"></div>

  <div class="cryptic-card">
    <div class="card-header">
      <h2 class="glitch-text" data-text="INICIAR_SESIÓN">INICIAR_SESIÓN</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="void-form">
      <div class="input-group">
        <label for="email">:: IDENTIFICADOR ::</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="user@void.net"
          autocomplete="off"
        />
        <span class="input-border"></span>
      </div>

      <div class="input-group">
        <label for="password">:: CLAVE_DE_ACCESO ::</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="******"
        />
        <span class="input-border"></span>
      </div>

      <div class="actions">
        <input type="submit" value="Entrar" class="btn-submit" />

        <div class="secondary-links">
          <a routerLink="../signup" class="link-text"> [ NO_REGISTRADO? ] </a>
        </div>
      </div>
    </form>
  </div>
</div>
