<div class="chat-container">
  <div class="chat">
    <!-- Top - Header -->
    <div class="chat-header">
      <div class="chat-header-user">
        <img
          class="chat-header-image"
          src="https://i.pinimg.com/736x/62/3e/c7/623ec7d4bca8e551d3bc6f681180c1ee.jpg"
          alt="Avatar"
        />
        <div class="chat-header-name-container">
          <!-- Usamos el safe navigation check o el valor del signal -->
          <p class="chatroom-name">{{ chatData()?.name }}</p>
        </div>
      </div>
      <div class="chat-header-actions">
        <button
          (click)="showAddParticipantModal.set(true)"
          class="chat-header-add-friend"
        >
          <fa-icon [icon]="icons.faUserPlus"></fa-icon>
        </button>
        <button (click)="onClickExit()" class="chat-header-close">
          <fa-icon [icon]="icons.faDoorOpen"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Middle - Chat -->
    <div class="chat-messages-container">
      <ul class="chat-messages">
        @for (chatMessage of chatMessages(); track chatMessage.chatMessageId) {
          @if (
            userData()?.id?.toLowerCase() === chatMessage.senderId.toLowerCase()
          ) {
            <div class="chat-message chat-message-mine-container">
              <li class="chat-message-mine">{{ chatMessage.text }}</li>
            </div>
          } @else {
            <div class="chat-message chat-message-friend-container">
              <li class="chat-message-friend">{{ chatMessage.text }}</li>
            </div>
          }
        } @empty {
          <p class="text-center">No hay mensajes en esta conversación.</p>
        }
      </ul>
    </div>

    <!-- Bottom - Actions -->
    <div class="chat-bottom">
      <!-- QuickMessages -->
      @if (quickMessages().length > 0) {
        <ul class="chat-current-messages">
          @for (quickMessage of quickMessages(); track quickMessage.text) {
            <li>
              <button class="chat-current-message">
                {{ quickMessage.text }}
              </button>
            </li>
          }
        </ul>
      }

      <!-- Enviar -->
      <form
        [formGroup]="chatForm"
        (ngSubmit)="onSubmitChatMessage()"
        class="chat-message-form"
      >
        <div class="message-text-container">
          <button type="button" class="button-quick">
            <fa-icon [icon]="icons.faBoltLightning"></fa-icon>
          </button>
          <input
            class="message-text"
            type="text"
            formControlName="messageText"
            placeholder="Escribe tu mensaje aquí..."
          />
          <button
            type="submit"
            class="button-send"
            [disabled]="chatForm.invalid"
          >
            <fa-icon [icon]="icons.faArrowUp"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  @if (showAddParticipantModal()) {
    <app-new-user-modal
      (closeModalEvent)="showAddParticipantModal.set(false)"
      [chatId]="chatId"
    ></app-new-user-modal>
  }
</div>
