<div class="chat-container">
  <div class="chat">
    <!-- Top - Header -->
    <div class="chat-header">
      <div class="chat-header-user">
        <img
          class="chat-header-image"
          src="https://i.pinimg.com/736x/62/3e/c7/623ec7d4bca8e551d3bc6f681180c1ee.jpg"
          alt=""
        />
        <div class="chat-header-name-container">
          <!-- <p *ngFor="let user of chatData.users" class="chat-header-name">
            <span>
              {{ user.fullName }}
            </span>
          </p> -->
          <p class="chatroom-name">{{ chatData.name }}</p>
        </div>
      </div>
      <div class="chat-header-actions">
        <button
          (click)="toggleShowAddParticipantModal()"
          class="chat-header-add-friend"
        >
          <fa-icon [icon]="faUserPlus"></fa-icon>
        </button>
        <button (click)="onClickExit()" class="chat-header-close">
          <fa-icon [icon]="faDoorOpen"></fa-icon>
        </button>
      </div>
    </div>
    <!-- Middle - Chat -->
    <div class="chat-messages-container">
      <ul class="chat-messages">
        <ng-container *ngFor="let chatMessage of chatMessages">
          <div
            *ngIf="
              userData.id.toLowerCase() === chatMessage.senderId.toLowerCase();
              else FriendChatMessageContainer
            "
            class="chat-message chat-message-mine-container"
          >
            <li class="chat-message-mine">{{ chatMessage.text }}</li>
          </div>

          <ng-template #FriendChatMessageContainer>
            <div class="chat-message chat-message-friend-container">
              <li class="chat-message-friend">{{ chatMessage.text }}</li>
            </div>
          </ng-template>
        </ng-container>
      </ul>
    </div>

    <!-- Bottom - Actions -->
    <div class="chat-bottom">
      <!-- QuickMessages -->
      <ul
        *ngIf="quickMessages.length > 0 && showQuickMessages"
        class="chat-current-messages"
      >
        <li *ngFor="let quickMessage of quickMessages">
          <button
            (click)="onClickQuickMessage(quickMessage.text)"
            class="chat-current-message"
          >
            {{ quickMessage.text }}
          </button>
        </li>
      </ul>

      <!-- Enviar -->
      <form
        [formGroup]="chatMessageForm"
        (ngSubmit)="onSubmitChatMessage()"
        class="chat-message-form"
      >
        <div class="message-text-container">
          <button
            type="button"
            class="button-quick"
            (click)="toggleShowQuickMessages()"
          >
            <fa-icon [icon]="faBoltLightning"></fa-icon>
          </button>
          <input
            class="message-text"
            type="text"
            formControlName="messageText"
            name=""
            id=""
            placeholder="Escribe tu mensaje aquí..."
          />
          <button type="submit" class="button-send">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </button>
          <!-- <div class="">
          </div> -->
        </div>
      </form>
    </div>
  </div>

  <app-new-user-modal
    (closeModalEvent)="onAddParticipant()"
    [chatId]="chatId"
    *ngIf="showAddParticipantModal"
  ></app-new-user-modal>
</div>
